.header {
	padding: 40px 0;
	min-height: 695px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--header-bg);
	background-image: url('../../img/header-bg.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;

	color: var(--header-text);
	text-align: center;


    &__wrapper {
        padding: 0 15px;
        max-width: 660px;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.4;
    }

    &__title strong {
        font-size: 56px;
        font-weight: 700;
    }

    &__title em {
        font-style: normal;
        color: var(--accent);
    }

    &__text {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 1.333;
    }

    &__text p + p {
        margin-top: 0.5em;
    }
}